@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

* {
  font-family: "Poppins";
}
body {
  margin: 0;
  background-color: #eff1f5;
  color: #70709c;
}
